---
import type { Playlist } from "../lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<article
  class="group relativ rounded-md ransi transition-all duration-300 w-52 flex-col hover:bg-zinc-500/30"
>
  <a
    href={`/playlist/${id}`}
    class="playlist-item transition-all duration-300 flex relative p-4 overflow-hidden gap-2 pb-6 rounded-md w-52 flex-col"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <div
        class=`absolute right-6 bottom-[88px] translate-y-4
    transition-all duration-500 opacity-0
    group-hover:translate-y-0 group-hover:opacity-100
    z-10
  `
      >
        <CardPlayButton id={id} client:visible />
      </div>
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistsString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>

    <div class="flex flex-auto flex-col">
      <h4 class="text-white text-lg" transition:name=`playlist ${id} title`>
        {title}
      </h4>

      <span
        class="text-sm text-gray-400"
        transition:name=`playlist ${id} artists`
      >
        {artistsString}
      </span>
    </div>
  </a>
</article>

<!-- 
<div class="py-3">
  <h1 class="text-2xl font-bold text-white pl-3">{title}</h1>
  <div class="flex justify-between">
    <div
      class="w-[190px] hover:bg-[#2a2a2a] rounded-md p-3 transition-all duration-300"
    >
      <img
        aria-hidden="false"
        draggable="false"
        loading="lazy"
        src="https://mosaic.scdn.co/640/ab67616d00001e0230828b2442a7494533670ee1ab67616d00001e0252ff352cd503ceddbaf1d533ab67616d00001e027ce7c833a19b3552c318f080ab67616d00001e02c09ae45aa7c410ca6d194ded"
        data-testid="shortcut-image"
        alt=""
        width="170px"
        height="170px"
        class="rounded-md"
      />
      <div class="flex flex-col pt-2">
        <span class="text-white text-lg">Daily Mix 1</span>
        <span class="text-[#b3b3b3] text-sm"
          >Blessd, Kris R, Arcangel and more</span
        >
      </div>
    </div>
    <div
      class="w-[190px] hover:bg-[#2a2a2a] rounded-md p-3 transition-all duration-300"
    >
      <img
        aria-hidden="false"
        draggable="false"
        loading="lazy"
        src="https://mosaic.scdn.co/640/ab67616d00001e0230828b2442a7494533670ee1ab67616d00001e0252ff352cd503ceddbaf1d533ab67616d00001e027ce7c833a19b3552c318f080ab67616d00001e02c09ae45aa7c410ca6d194ded"
        data-testid="shortcut-image"
        alt=""
        width="170px"
        height="170px"
        class="rounded-md"
      />
      <div class="flex flex-col pt-2">
        <span class="text-white text-lg">Daily Mix 1</span>
        <span class="text-[#b3b3b3] text-sm"
          >Blessd, Kris R, Arcangel and more</span
        >
      </div>
    </div>
    <div
      class="w-[190px] hover:bg-[#2a2a2a] rounded-md p-3 transition-all duration-300"
    >
      <img
        aria-hidden="false"
        draggable="false"
        loading="lazy"
        src="https://mosaic.scdn.co/640/ab67616d00001e0230828b2442a7494533670ee1ab67616d00001e0252ff352cd503ceddbaf1d533ab67616d00001e027ce7c833a19b3552c318f080ab67616d00001e02c09ae45aa7c410ca6d194ded"
        data-testid="shortcut-image"
        alt=""
        width="170px"
        height="170px"
        class="rounded-md"
      />
      <div class="flex flex-col pt-2">
        <span class="text-white text-lg">Daily Mix 1</span>
        <span class="text-[#b3b3b3] text-sm"
          >Blessd, Kris R, Arcangel and more</span
        >
      </div>
    </div>
    <div
      class="w-[190px] hover:bg-[#2a2a2a] rounded-md p-3 transition-all duration-300"
    >
      <img
        aria-hidden="false"
        draggable="false"
        loading="lazy"
        src="https://mosaic.scdn.co/640/ab67616d00001e0230828b2442a7494533670ee1ab67616d00001e0252ff352cd503ceddbaf1d533ab67616d00001e027ce7c833a19b3552c318f080ab67616d00001e02c09ae45aa7c410ca6d194ded"
        data-testid="shortcut-image"
        alt=""
        width="170px"
        height="170px"
        class="rounded-md"
      />
      <div class="flex flex-col pt-2">
        <span class="text-white text-lg">Daily Mix 1</span>
        <span class="text-[#b3b3b3] text-sm"
          >Blessd, Kris R, Arcangel and more</span
        >
      </div>
    </div>
    <div
      class="w-[190px] hover:bg-[#2a2a2a] rounded-md p-3 transition-all duration-300"
    >
      <img
        aria-hidden="false"
        draggable="false"
        loading="lazy"
        src="https://mosaic.scdn.co/640/ab67616d00001e0230828b2442a7494533670ee1ab67616d00001e0252ff352cd503ceddbaf1d533ab67616d00001e027ce7c833a19b3552c318f080ab67616d00001e02c09ae45aa7c410ca6d194ded"
        data-testid="shortcut-image"
        alt=""
        width="170px"
        height="170px"
        class="rounded-md"
      />
      <div class="flex flex-col pt-2">
        <span class="text-white text-lg">Daily Mix 1</span>
        <span class="text-[#b3b3b3] text-sm"
          >Blessd, Kris R, Arcangel and more</span
        >
      </div>
    </div>
    
  </div>
</div> -->
