---
import type { Playlist } from "../lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<a
  href={`/playlist/${id}`}
  class="playlist-item flex bg-[#12121297] rounded-md gap-2 items-center"
>
  <picture class="">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      width="45px"
      height="45px"
      class="rounded-l-md"
    />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-white font-semibold">
      {title}
    </h4>
  </div>
</a>